.text-second {
    color: #E6B534;
}

img.navbar-brand {
    width: 150px;
}

.navbar {
    transition: all 0.3s ease-in-out !important;
    padding: 15px 0;
}

.navbar-allin {
    background: #198ABC;
}

.nav-item a {
    color: #fff !important;
}

.bg-annif {
    background: url('../img/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#home {
    background: rgb(35,39,59);
    background: linear-gradient(180deg, #1e385c21 0%, rgba(35, 39, 59, 1) 80%);
    position: relative;
    display: block;
    height: 145vh;
    padding-top: 9% ;
}

.annif-logo {
    width: 80%;
    display: block;
}

.annif-illust-1 {
    position: absolute;
    width: 25%;
    margin-top: -8%;
    right: 10%;
}

.annif-illust-2 {
    position: absolute;
    top:15%;
    right: 23%;
    width: 10%;
}

.annif-date {
    position: absolute;
    top:15%;
    right: 7%;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1;
    color: #E6B534;
    text-align: right;
}

.annif-desc {
    font-size: 1.6em;
    width: 60%;
    margin-bottom: 50px;
    color: #fff;
    font-weight: bold;
}

#event {
    background: #23273B;
    padding: 2% 0;
}

.event-title {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #E6B534;
    line-height: 1;
    text-shadow: 2px 2px #fff;
}

.event-subtitle {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #198ABC;
    text-shadow: 2px 2px #fff;
}

.event-heading {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
}

.event-desc {
    color: #fff;
    font-size: 1.3em;
}

.event-desc ul li {
    margin-left: -10px;
}

.event-uni {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #E6B534;
    line-height: 1.5;
}

.speaker-pic {
    width: 100%;
    padding: 5%;
}

.essay-icon {
    position: absolute;
    margin-top: 0%;
    right: 15%;
    width: 10%;
}


#scholarship {
    background: rgb(35,39,59);
    padding: 1% 0;
}

.sch-title {
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 1.2;
    margin-bottom: 30px;
}



#about {
    height: 100vh;
    background: rgb(35,39,59);
}

.about-title {
    font-size: 2.5em;
    color: #E6B534;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-desc {
    font-size: 1.3em;
    color: #fff;
    margin-bottom: 50px;
}

.icon-img {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.icon-img img {
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.icon-desc {
    color: #fff;
}

.icon-img:hover img {
 transform: scale(1.2);
}

